# Django
DJANGO_SECRET_KEY=django-insecure-troque-essa-chave
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database
# Para rodar com Docker: DB_HOST=db
# Para rodar localmente: DB_HOST=localhost
DB_NAME=mypet
DB_USER=mypet_user
DB_PASSWORD=mypet_password
DB_HOST=localhost
DB_PORT=5432

# Redis & Celery
REDIS_HOST=localhost
REDIS_PORT=6379
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
